.Headline1 {
text-align: center;
font-family: minecraftiaregular;
margin-bottom: 0px;
font-size: 55px;
color: #FFFF55;
text-shadow: 6px 6px #3F3F15;
}

.Headline2 {
text-align: center;
font-family: minecraftiaregular;
margin-top: 0px;
font-size: 27px;
color: #00AAAA;
text-shadow: 3px 3px #002A2A;
}

.ip {
text-align: center;
font-family: minecraftiaregular;
margin-top: 8px;
}

.port {
text-align: center;
font-family: minecraftiaregular;
margin-top: 2px;
}

body {
background-color: #AAAAAA;
}